@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: "Outfit", Helvetica, sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap : wrap;
    flex-direction: column;
    background-color: white;
    max-width: 320px;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 52px 6px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 12px;
    width: 100%;
}

.card-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.card-text {
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0px 15px 0px 15px;
    padding-bottom: 25px;
}